* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#login {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 704px;
}

.login_left {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    padding-top: 75px;
}

* {
    font-family: 'Noto Sans', sans-serif;
}

.login_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 577px;
    background-color: #ddd;
}

.login_right {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.big_logo>p {
    position: absolute;
    top: 270px;
    width: 100%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: center;
    color: #051f3e;
}

.big_logo>span {
    position: absolute;
    top: 322px;
    width: 100%;
    opacity: 0.6;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #12193b;
}

#signup_form_01 {
    width: 375px;
}

.button {
    width: 337px;
    height: 44px !important;
    font-size: 18px !important;
    font-weight: bold;
}

@media (max-width: 800px) {
    .login_bar, .login_right {
        display: none;
    }
    #login {
        width: 100%;
    }
    .login_left {
        width: 100%;
    }
    #signup_form_01 {
        width: 90%;
    }
    .button {
        width: 90%;
    }
}